{% extends 'news/base.html' %}
{% load static %}

{% block title %} :: Altroz - News Magazine HTML Template :: {% endblock title %}

{% block content %}

<section style="background-color: #eee;">
  <div class="container py-5">

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{request.user.img.url}}" alt="avatar"
              class=" img-fluid" style="width: 200px;">
            <h5 class="my-3">@{{request.user.username}}</h5>
            <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>
            <div class="d-flex justify-content-center mb-2">
              <div><a class="btn btn-dark" type="button" href="{% url 'edit_profile' %}">Edit Profile</a></div> <br>
            </div>
            <a href="{% url 'logout' %}" class="btn btn-warning">Saytdan chiqish</a> <a href="{% url 'password_change' %}" class="btn btn-info">Parolni o'zgartirish</a>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-5">
          <div class="card-body" style="padding-bottom: 40px">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.first_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0"> {{request.user.last_name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Joined</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{request.user.date_joined}}</p>
              </div>
            </div>
            <hr>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock content %}
